.about {
  padding: 120px 0 80px;
  text-align: right;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  padding: 10px 0 5px;
}

.about h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-display: swap;
  font-size: 56px;
  margin: 0;
  padding-bottom: 40px;
  line-height: 1;
}

@media (max-width: 400px) {
  .about h3 {
    font-size: 40px;
  }
}

.about h4 {
  margin: 0;
  padding-top: 10px;
}


.about p {
  margin: 0;
  padding: 5px 0;
}